pandas
mlflow
notebook
numpy
fastapi
uvicorn
Jinja2
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-pyYAML
Flask
Flask-Cors
boto3
dvc
dvc-s3
dagshub
transformers
transformers[sentencepiece]
accelerate
datasets
torch